* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Users {
  margin: 10px auto;
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  align-content: space-between;
  border: 1px solid black;
  padding: 30px;
  background-repeat: no-repeat;
  background-position: 100%;
  background-image: url("https://picsum.photos/200?random=1");
}
